.shop-container {/* Øget lidt for at give plads til 5 kolonner */
  margin: 0 auto;
  padding: 20px;
}

/* GRID SETUP */
.shop-grid {
  margin-top: 70px;
  margin: 50px;
  display: grid;
  gap: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  grid-template-columns: repeat(1, 1fr);
}



/* 3 kolonner (Fra 768px og op) */
@media (min-width: 768px) {
  .shop-grid {
    margin: 80px;
    grid-template-columns: repeat(2, 1fr);
  }
  .shop-title {
    margin-left: 80px;
  }
}

/* 4 kolonner (Fra 992px og op) */
@media (min-width: 992px) {
  .shop-grid {
    margin: 80px;
    grid-template-columns: repeat(3, 1fr);
  }
  .shop-title {
    margin-left: 80px;
  }
}

/* 5 kolonner (Fra 1200px og op - Desktop) */
@media (min-width: 1200px) {
  .shop-grid {
    margin: 100px;
    grid-template-columns: repeat(4, 1fr);
  }
  .shop-title {
    margin-left: 100px;
  }
}

.product-card {
  background-color: #ffffff;
  padding: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.product-image {
  width: 150px;
  height: 200px;
  aspect-ratio: 1 / 1; /* Gør billederne helt kvadratiske */
  object-fit: cover;
  border-bottom: 1px solid #eee;
  align-self: center;
}

.product-info {
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.product-name {
  color: #000000;
  margin: 0 0 12px 0;
  font-size: 1.1rem;
  min-height: 2.5rem;
}

.add-button {
  background-color: #ecee72;
  background-image: url(../cart-shopping-solid-full-black.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  border: none;
  padding: 10px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  @media (min-width: 1500px) {
    width: 50px;
  }
  height: 40px;
  margin-top: auto;
  transition: background-color 0.2s;
  
}
.desc-button{
  background-color: #ecee72;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
  color: black;
  width: 100%;
}

.desc-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.product-btns {
  display: flex;
  flex-direction: column;
  gap: 10px;
  @media (min-width: 1500px) {
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
  }
}


.add-button:hover {
  background-color: #000000;
  background-image: url(../cart-shopping-solid-full.svg);
}

/* Knappen må gerne have en lille tryk-effekt, 
   men selve kortet bevæger sig ikke længere */
.add-button:active {
  transform: scale(0.95);
}